<div class="container mt-5">

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Search any product</mat-label>
    <input matInput
    #searchkeyword
    (keyup)="searchByKeyword(searchkeyword.value)"
    name="searchKey"
    id="searchKey"
    placeholder="Search any product">
  </mat-form-field>

  <mat-grid-list cols="4" rowHeight="400px" gutterSize="20px">
    <mat-grid-tile *ngFor="let p of productDetails">
      <div class="product-card">
        <div class="product-image-wrapper">
          <img [src]="p.productImages[0].url" alt="{{ p.productName }}" />
        </div>
        <div class="product-info">
          <h4>{{ p.productName }}</h4>
          <p class="description">{{ p.productDescription }}</p>

          <div class="price">
            <strong>Rs. {{ p.productDiscountedPrice }}</strong>
            &nbsp;
            <span class="old-price">Rs. {{ p.productActualPrice }}</span>
          </div>

          <button type="button" mat-raised-button color="warn" (click)= "showProductDetails(p.productId)">
            View Details
          </button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="text-center mt-5" style="padding-bottom: 100px;">
    <button type="button" mat-raised-button color="primary" (click)="loadMoreProducts()" *ngIf="showMoreProducts">
      Load more
    </button>
  </div>

  <div class="mt-5">

  </div>
</div>
