<mat-toolbar color="primary" class="main-toolbar">
  <div class="toolbar-content">
    <span class="brand">E - Commerce Application</span>

    <span class="space-buttons"></span>

    <button *ngIf="!isLoggedIn()" routerLink="/login" mat-raised-button color="accent" class="auth-btn login-btn">
      <mat-icon>login</mat-icon>
      Login
    </button>

    <button *ngIf="isLoggedIn()" (click)="logout()" mat-raised-button color="warn" class="auth-btn logout-btn">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </div>
</mat-toolbar>

<mat-toolbar color="primary" *ngIf="isLoggedIn()" class="nav-toolbar">
  <div class="nav-content">
    <button mat-raised-button color="primary" routerLink="/" class="nav-btn">
      <mat-icon>home</mat-icon>
      Home
    </button>
    <button *ngIf="isAdmin()" mat-raised-button color="primary" routerLink="/addNewProduct" class="nav-btn">
      <mat-icon>add_circle</mat-icon>
      Add New Product
    </button>
    <button *ngIf="isAdmin()" mat-raised-button color="primary" routerLink="/showProductDetails" class="nav-btn">
      <mat-icon>inventory_2</mat-icon>
      Show Product Details
    </button>
  </div>
</mat-toolbar>